<h2>
  Vehicle Detail
</h2>

<div *ngIf="vehicle">
  <table class="table table-striped table-responsive table-hover">
    <thead>
      <tr>
        <th>Registration</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{vehicle.registration}}</td>
        <td>{{vehicle.price}}</td>
      </tr>
    </tbody>
  </table>

  <div class="input-group input-group-sm" *ngIf="vehicle">
    <input type="text" class="form-control" placeholder="New Price" [(ngModel)]="vehicle.price">
    <span class="input-group-btn">
      <button class="btn btn-secondary" type="button" (click)="updatePrice(vehicle.registration, vehicle.price)">Update Price</button>
    </span>
  </div>

  <br>

  <app-watch [registration]="vehicle.registration"></app-watch>

</div>