<div *ngIf="!isLoggedIn">
  <div class="input-group input-group-sm">
    <span class="input-group-addon">@</span>
    <input type="email" class="form-control" placeholder="Email address" [(ngModel)]="email">
    <span class="input-group-btn">
      <button class="btn btn-secondary" (click)="watch()">Watch this vehicle</button>
    </span>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
</div>

<div *ngIf="isLoggedIn && !watching">
  <button class="btn btn-primary" (click)="watch(registration)">Add to watch list</button>
</div>

<div *ngIf="isLoggedIn && watching">
  <button class="btn btn-primary" (click)="unwatch(registration)">Remove from watch list</button>
</div>