<div class="container">

  <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      Example Dealership Site!
    </h1>
    <a href="http://nmj-notifications.azurewebsites.net/swagger/#/">Swagger Web Service</a>
  </div>

  <nav class="nav">
    <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/home']">Home</a>
    <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/vehicles']">Vehicles</a>
  </nav>

  <router-outlet>
  </router-outlet>

</div>