<h2>Vehicles</h2>
<button type="button" class="btn btn-secondary " (click)="refreshData()">Refresh Data</button>
<br>
<br>
<h2 *ngIf="loading">Loading...</h2>

<table class="table table-striped table-responsive table-hover table-sm" *ngIf="!loading">
  <thead>
    <tr>
      <th>Category</th>
      <th>Registration</th>
      <th># Price Changes</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of vehicles">
      <td>{{v.category}}</td>
      <td>
        <a [routerLink]="['/vehicles', v.registration]">
          {{v.registration}}
        </a>
      </td>
      <td>{{v.priceChanges ? v.priceChanges.length : 0}}</td>
      <td>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="New Price" [(ngModel)]="v.price">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button" (click)="updatePrice(v.registration, v.price)">Update Price</button>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>